snippet gen "Generator"

#include <bits/stdc++.h>
#include "testlib.h"
using namespace std;

/*
rnd.next(1, 1000)
*/

int main(int argc, char* argv[]) {
	registerGen(argc, argv, 1);

	$0
}

endsnippet
